*.iml
.gradle/
.idea/
.DS_Store
/local.properties
/build/
/captures/
/.externalNativeBuild/
/.cxx/
/google-services.json
/*.jks
/*.keystore
/captures/
/app/build/
/**/build/

app/src/main/res/values/strings.xml
/app/src/main/res/values/strings.xml
/app/google-services.json

